version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: minimundo
      POSTGRES_USER: minimundo
      POSTGRES_PASSWORD: minimundo
    ports:
      - "5432:5432"

  app:
    build: .
    depends_on:
      - db
    environment:
      SPRING_PROFILES_ACTIVE: dev
    ports:
      - "8080:8080"